@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin abs-pos {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

html,
body {
  @include size(100%);
}

$color1: rgba(0, 0, 0, 1);
$color2: rgba(59, 59, 59, .3);

.thunder {
  &:after {
    content: '';
    @include size(100%);
    @include abs-pos;
    background-color: rgba(0, 0, 0, 0.1);
    animation: thunder-bg 20s infinite;
  }

  @at-root {
    @keyframes thunder-bg {
      0% {
        background-color: $color1;
      }

      81.8% {
        background-color: $color1;
      }

      82% {
        background-color: $color2;
      }

      82.2% {
        background-color: $color1;
      }

      82.5% {
        background-color: $color2;
      }

      88% {
        background-color: $color1;
      }

      100% {
        background-color: $color1;
      }
    }
  }
}
