.bookContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  transform-style: preserve-3d;
  position: relative;
  height: 500px;
  cursor: pointer;
  backface-visibility: visible;
  font-family: 'Architects Daughter', cursive;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6, .content, .pageAnimation {
  transform-style: preserve-3d;
  position: absolute;
  width: 350px;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.pageAnimation {
  transition: all 0s;
}

.content.left {
  left: -350px;
  transform-origin: right center;
  transform: rotateY(185deg);
}

.front,
.back {
  font-family: 'Permanent Marker', cursive;
  background-image: url('cover.jpg')
}

/* .front, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
} */

.page1, .page2, .page3, .page4, .page5, .page6, .pageAnimation {
  background-image: url('./paper.jpg');
  background-size: contain;
}

.book.open .front {
  transform: rotateY(-180deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .6);
}

.book.open .page1 {
  transform: rotateY(-170deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book.open .page3 {
  transform: rotateY(-165deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book.open .page5 {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book.open .page6 {
  transform: rotateY(-20deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book.open .page4 {
  transform: rotateY(-15deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book.open .page2 {
  transform: rotateY(-10deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book.open .back {
  transform: rotateY(0deg) scale(1.1);
}

.book.open .content {
  display: block;
  transform: rotateY(-25deg) scale(1.1);
}
.book.open .content.left {
  display: block;
  transform: rotateY(25deg) scale(1.1);
}

.pageAnimation.active {
  transform: rotateY(-154deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.drop {
  width: 1em; height: 1em;
  border-radius: 0 100% 100% 100%;
  background-color: currentColor;
  position: absolute;
  top: 65%;
  animation: drop 6s infinite both;
  color: rgb(138,3,3);

  &:nth-child(1) {
    left: 40%;
  }

  &:nth-child(2) {
    left: 39%;
    animation-delay: -.4s;
  }

  &:nth-child(3) {
    left: 55%;
    animation-delay: -1.5s;
  }

  &:nth-child(4) {
    left: 82%;
    animation-delay: -.8s;
  }

  &:nth-child(5) {
    left: 95.5%;
    animation-delay: -1.3s;
  }
}

@keyframes drop {
  0% {
    transform: translateY(0) scaleX(.85) rotate(45deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0) scaleX(.85) rotate(45deg);
    animation-timing-function: ease-out;
  }
  80% {
    transform: translateY(120%) scaleX(.85) rotate(45deg);
    animation-timing-function: ease-in;
  }
  90%, 100% {
    transform: translateY(60vh) scaleX(.85) rotate(45deg);
  }
}
