.bookContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  transform-style: preserve-3d;
  position: relative;
  height: 500px;
  cursor: pointer;
  backface-visibility: visible;
  font-family: 'Architects Daughter', cursive;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6, .content {
  transform-style: preserve-3d;
  position: absolute;
  width: 350px;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}
.content.left {
  left: -350px;
  transform-origin: right center;
  transform: rotateY(180deg);
}

.front,
.back {
  background-image: url('cover.jpg')
}

/* .front, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
} */

.page1, .page2, .page3, .page4, .page5, .page6 {
  background-image: url('./paper.jpg');
  background-size: contain;
}

.book.open .front {
  transform: rotateY(-180deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .6);
}

.book.open .page1 {
  transform: rotateY(-170deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book.open .page3 {
  transform: rotateY(-165deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book.open .page5 {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book.open .page6 {
  transform: rotateY(-20deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book.open .page4 {
  transform: rotateY(-15deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book.open .page2 {
  transform: rotateY(-10deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book.open .back {
  transform: rotateY(0deg) scale(1.1);
}

.book.open .content {
  display: block;
  transform: rotateY(-25deg) scale(1.1);
}
.book.open .content.left {
  display: block;
  transform: rotateY(25deg) scale(1.1);
}
